/* Primo esercizio */

.ex-1-square {
    transition: background-color 4s ease-in-out 1s;
}

.ex-1-square:hover {
    background-color: red;
}

/* Fine Primo esercizio */

/* Secondo esercizio */

.ex-2-square {
    transition: width 4s;
}

.ex-2-square:active {
    width: 100%;
}

/* Fine Secondo esercizio */

/* Terzo esercizio */

.ex-3-square {
    transition: border-radius 4s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* /Fine terzo esercizio */

/* Quarto esercizio */


/* .ex-4-square{
    transition: background-color 7s;
}

.ex-4-square:hover {
    background-color:#f5f5f5;
} */

.ex-4-square {
    transition: opacity 7s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* /Fine Quarto esercizio */

/* Quinto esercizio */

.ex-5-square {
    transition: width 5s;
}

.ex-5-square:hover {
    width: 120%;
}

.ex-5-square:active {
    width: 30%;
}


/* /Fine Quinto esercizio */

/* Sesto esercizio */

.ex-6-img:hover {
    filter: grayscale(1);
}

/* /Fine Sesto esercizio */

/* Settimo esercizio */

.ex-7-img {
    transition: filter 5s;
}

.ex-7-img:hover {
    filter: grayscale(1) sepia(0.5);
}

/* /Fine settimo esercizio */

/* Ottavo esercizio */

.ex-8-img {
    transition: 8s;
}

.ex-8-img:hover {
    filter: grayscale(1) sepia(0.5);
    border-radius: 80%;

}

/* /Fine Ottavo esercizio */

/* Nono esercizio */

.ex-9-img {
    transition: 8s;
}

.ex-9-img:hover {
    filter: grayscale(1) sepia(0.5);
    border-radius: 80%;
    transform: scale(2);

}

/* /Fine Nono esercizio */