/* Primo esercizio */

.ex-1-square {
    transition: background-color 4s ease-in-out 1s;
}

.ex-1-square:hover {
    background-color: red;
}

/* Fine Primo esercizio */

/* Secondo esercizio */

.ex-2-square {
    transition: width 4s;
}

.ex-2-square:active {
    width:100%;
}

/* Fine Secondo esercizio */